{% extends "userProfile/base.html" %}
{% load staticfiles %}

{% block body_block %}

<!-- HEADER -->
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-image: url('images/bg_2.jpg');"
             data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="heading">{{ project.title }}</h2>
                        <p class="lead">by {{ project.user }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1> {{project.title}} </h1> <br>
        Category : {{project.category}} <br>
        Owner: {{ project.user }} <br>
        start_date: {{project.start_date}} <br>
        end_date: {{project.end_date}} <br>
        total_target: {{project.total_target}} <br>
        Description : {{project.details}} <br>
        Total donations : {{total_donation.donation_amount__sum}} <br>
        Average_rating : {{average_rating.user_rating__avg|floatformat:"0"}} <br> <br> <br>
        {% if pictures is not None %}
        pictures:
        {% for picture in pictures %}
        <img src="../../media/{{picture.project_picture}}"/>
        {% endfor %}
        {% endif %}
    </div>

    <div class="jumbotron">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ rate_project.as_p }}
            <input type="submit" name="" value="Rate Project">
        </form>
    </div>

    <div class="jumbotron">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ report_form.as_p }}
            <input type="submit" name="" value="Report Project">
        </form>
    </div>

    <div class="jumbotron">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ donation_form.as_p }}
            <input type="submit" name="" value="Submit donation">
        </form>
    </div>

    <div class="jumbotron">
        {% for comment in comments %}
        <p>{{comment.user}} : {{comment.comment_body}}</p>
        <!--add report to comment-->
        {% endfor %}
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" name="" value="Submit donation">
        </form>
    </div>

</div>
{% endblock %}